.navbarContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;

  .navbar {
    display: flex;
    gap: 8px;
    justify-content: right;
    background-color: #fffacd;

    .navbar__links {
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      color: black;

      &:hover {
        color: var(--color-accent);
      }
    }
  }
}
